.container {
    border-width: 1px;
    border-color: brown;
    border-style: solid;
    width: 960px;
    height: 960px;
    display: flex;
    flex-flow: row wrap;
    
}

.square {
    border-width: 1px;
    border-color: brown;
    border-style: solid;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.hover {
    background-color: blueviolet;
}