.container {
    border-width: 1px;
    border-color: brown;
    border-style: solid;
    width: 960px;
    height: 960px;
    display: flex;
    flex-flow: row wrap;
    
}

.square {
    border-width: 1px;
    border-color: brown;
    border-style: solid;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#renewButton {
    margin: 50px;
    font-size: large;
    font-weight: bold;
    padding: 20px 10px;
    border-radius: 12px;
    
}

.newSquare {
    border-width: 1px;
    border-color: brown;
    border-style: solid;
    box-sizing: border-box;
}